[submodule "themes/motofans"]
	path = themes/motofans
	url = git@github.com:Unsolemn/hugo-catalog-theme.git
[submodule "content"]
	path = content
	url = git@github.com:Unsolemn/motofans-example-content.git
